{{!< default}}
{{! Top line inserts this template on main layout}}

{{! Error Page }}
<main id="main-clear">
	<article id="post-page-clear" class="error-page">

		<header id="header-post-content-clear">
			<h1>{{code}}</h1>
		</header>


		<section id="post-content-clear">
			<h2>Oops! {{message}}</h2>
			<a class="back-home-link work-sans-semi" href="{{@blog.url}}">&larr; Go to home</a>
		</section>
 
	</article>
</main>