{{!< default}}
{{! Top line inserts this template on main layout}}

{{! About page template}}
{{#post}}
<main id="main-personal" class="full-size-container">
	<article id="post-page-personal" class="{{post_class}}">

		<header id="post-header-personal" class="post-head archivo-bold">
			<h1 class="post-title">{{title}}</h1>
		</header>

		{{#if feature_image}}
		<div class="post-cover-personal">			
			<div class="center-cover" style="background-image:url({{img_url feature_image}})"></div>
		</div>
		{{/if}}

		<section id="post-content-personal" class="content-column">
			{{content}}			
		</section>

	</article>
</main>
{{/post}}